* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  .navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.8);
    position: sticky;
    top: 0;
  }
  .navbar ul {
    display: flex;
    list-style: none;
    margin: 20px 0px;
  }
  .navbar ul li {
    font-family: century;
    font-size: 1.1rem;
    font-weight: bold;
  }
  .navbar ul li a {
    text-decoration: none;
    color: white;
    padding: 8px 25px;
  }
  .navbar ul li a:hover {
    background-color: white;
    color: black;
    box-shadow: 0 0 10px white;
  }
  
  div.container {
    display: flex;
    width: 100%;
    background-color: rgb(59, 50, 50);
  }
  
  #pic1 {
    width: 300px;
    margin-left: 400px;
    margin-top: 100px;
    margin-bottom: 120px;
    border-radius: 50%;
    margin-right: 100px;
    opacity: 0.5;
    height: 300px;
  }
  
  div.content {
    margin-top: 100px;
    margin-left: 30px;
    padding-left: 20px;
    font-size: 100px;
    font-family: century;
    color: white;
  }
  div.content button {
    margin-left: 140px;
  }
  button {
   background-color: transparent;
    margin: 150px;
    margin-top: 20px;
    margin-left: 150px;
    border: 1px solid white;
    color: white;
    padding: 10px 35px;
    outline: none;
    transition: .6s ease;
  }
  button:hover{
    cursor: pointer;
    background-color: #fff;
    color: black;
    box-shadow: 0 0 5px white,0 0 10px white,0 0 15px white;
    font-weight: bold;
  }
  
  
  .contact {
    background-color: rgba(0, 0, 0, 0.8);
    height: 750px;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    color: white;
  }
  .text-center {
    text-align: center;
    padding-top: 30px;
    font-size: 35px;
  }
  .form {
    max-width: 900px;
    margin: 2px auto;
    max-height: 100px;
  }
  .form-input {
    margin: 14px 0;
    padding: 2px 11px;
    width: 100%;
    font-size: 19px;
    border: 2px solid grey;
    border-radius: 6px;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  }
  .btn-dark {
    color: rgb(97, 89, 89);
    border: 2px solid rgb(109, 104, 104);
  }
  /* portifolio */
  #portifolio{
    display: flex;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.9);
    color: white;
    align-items: center;
    padding: 20px;
  
  }
  #portifolio h1{
    padding-left: 10px;
    font-family: century;
  }
  .gallery{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    box-sizing: border-box;
  }
  .gallery img{
    width: 360px;
    height: 240px;
    margin: 10px;
  }
  /* services */
  #services {
    display: flex;
    flex-direction: column;
    padding: 20px;
    align-items: center;
    font-family: sans-serif;
  }
  .heaadings{
    font-weight: 600;
      font-family: century;
  }
  #services h1 {
    align-items: center;
    font-size: 47px;
   
  }
  .headings {
    font-size: 40px;
    padding: 20px;
    padding-bottom: 5px;
    padding-left: 75px;
    padding-top: 10px;
    font-weight: 200;
  }
  .row {
    display: flex;
    justify-content: space-around;
  }
  .box {
    display: flex;
    flex-direction: column;
    width: 350px;
    height: 450px;
    border: 1px solid black;
    margin: 10px;
    align-items: center;
    text-align: justify;
    padding: 10px;
    border-radius: 15px;
    margin-top: 23px;
    background: linear-gradient(to top, rgb(255, 45, 45) 50%,white 50%);
    background-size: 100% 200%;
    transition: all 0.8s;
  }
  .box:hover {
    background-position: left bottom;
    color: white;
    border: none;
    box-shadow: 0 0 20px rgb(255, 45, 45);
  }
  .box p {
    margin-top: 53px;
  }
  /* about */
  .about {
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    padding: 20px;
    margin-bottom: 50px;
    
  }
  .about h1 {
    font-size: 50px;
      font-weight: 600;
      font-family: century;
      padding-bottom: 36px;
  }
  
  #pic{
    display: flex;
  }
  #pic img {
    width: 543px;
    height: 373px;
    border-radius: 20%;
    margin-right: 26px;
  }
  #intro{
    display: flex;
    flex-direction: column;
    text-align: justify;
    padding: 10px;
  }
  #intro h2{
    font-size: 2rem;
    margin-bottom: 20px;
  }
  